SoapClient/Web References/TestSOAP/TESTAPI.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.acumatica.com/generic/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.acumatica.com/generic/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.acumatica.com/generic/">
      <s:complexType name="ProcessResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="tns:ProcessStatus" />
          <s:element minOccurs="1" maxOccurs="1" name="Seconds" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ProcessStatus">
        <s:restriction base="s:string">
          <s:enumeration value="NotExists" />
          <s:enumeration value="InProcess" />
          <s:enumeration value="Completed" />
          <s:enumeration value="Aborted" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetScenario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="scenario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetScenarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetScenarioResult" type="tns:ArrayOfCommand" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCommand">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Command" nillable="true" type="tns:Command" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Command">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FieldName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ObjectName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" default="false" name="Commit" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" default="false" name="IgnoreError" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="LinkedCommand" type="tns:Command" />
          <s:element minOccurs="0" maxOccurs="1" name="Descriptor" type="tns:ElementDescriptor" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ElementDescriptor">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" default="false" name="IsDisabled" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" default="false" name="IsRequired" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" default="String" name="ElementType" type="tns:ElementTypes" />
          <s:element minOccurs="0" maxOccurs="1" default="0" name="LengthLimit" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="InputMask" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DisplayRules" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AllowedValues" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ElementTypes">
        <s:restriction base="s:string">
          <s:enumeration value="String" />
          <s:enumeration value="AsciiString" />
          <s:enumeration value="StringSelector" />
          <s:enumeration value="ExplicitSelector" />
          <s:enumeration value="Number" />
          <s:enumeration value="Option" />
          <s:enumeration value="WideOption" />
          <s:enumeration value="Calendar" />
          <s:enumeration value="Action" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="SchemaMode">
        <s:restriction base="s:string">
          <s:enumeration value="Basic" />
          <s:enumeration value="Detailed" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EveryValue">
        <s:complexContent mixed="false">
          <s:extension base="tns:Command" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Key">
        <s:complexContent mixed="false">
          <s:extension base="tns:Command" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Action">
        <s:complexContent mixed="false">
          <s:extension base="tns:Command" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Field">
        <s:complexContent mixed="false">
          <s:extension base="tns:Command" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Value">
        <s:complexContent mixed="false">
          <s:extension base="tns:Field">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" default="false" name="IsError" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Answer">
        <s:complexContent mixed="false">
          <s:extension base="tns:Command" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="RowNumber">
        <s:complexContent mixed="false">
          <s:extension base="tns:Command" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="NewRow">
        <s:complexContent mixed="false">
          <s:extension base="tns:Command" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="DeleteRow">
        <s:complexContent mixed="false">
          <s:extension base="tns:Command" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Parameter">
        <s:complexContent mixed="false">
          <s:extension base="tns:Command" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Attachment">
        <s:complexContent mixed="false">
          <s:extension base="tns:Field" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfFilter">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Filter" nillable="true" type="tns:Filter" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Filter">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Field" type="tns:Field" />
          <s:element minOccurs="1" maxOccurs="1" name="Condition" type="tns:FilterCondition" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" />
          <s:element minOccurs="0" maxOccurs="1" name="Value2" />
          <s:element minOccurs="1" maxOccurs="1" name="OpenBrackets" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CloseBrackets" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Operator" type="tns:FilterOperator" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="FilterCondition">
        <s:restriction base="s:string">
          <s:enumeration value="Equals" />
          <s:enumeration value="NotEqual" />
          <s:enumeration value="Greater" />
          <s:enumeration value="GreaterOrEqual" />
          <s:enumeration value="Less" />
          <s:enumeration value="LessOrEqual" />
          <s:enumeration value="Contain" />
          <s:enumeration value="StartsWith" />
          <s:enumeration value="EndsWith" />
          <s:enumeration value="NotContain" />
          <s:enumeration value="Between" />
          <s:enumeration value="IsNull" />
          <s:enumeration value="IsNotNull" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="FilterOperator">
        <s:restriction base="s:string">
          <s:enumeration value="And" />
          <s:enumeration value="Or" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfString" nillable="true" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LoginResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Code" type="tns:ErrorCode" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Session" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ErrorCode">
        <s:restriction base="s:string">
          <s:enumeration value="OK" />
          <s:enumeration value="INVALID_CREDENTIALS" />
          <s:enumeration value="INTERNAL_ERROR" />
          <s:enumeration value="INVALID_API_VERSION" />
        </s:restriction>
      </s:simpleType>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult" type="tns:LoginResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Logout">
        <s:complexType />
      </s:element>
      <s:element name="LogoutResponse">
        <s:complexType />
      </s:element>
      <s:element name="SetBusinessDate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="date" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetBusinessDateResponse">
        <s:complexType />
      </s:element>
      <s:element name="SetLocaleName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="localeName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetLocaleNameResponse">
        <s:complexType />
      </s:element>
      <s:element name="SetSchemaMode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="mode" type="tns:SchemaMode" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchemaModeResponse">
        <s:complexType />
      </s:element>
      <s:complexType name="RB202000Content">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Actions" type="tns:RB202000Actions" />
          <s:element minOccurs="0" maxOccurs="1" name="Customers" type="tns:RB202000Customers" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RB202000Actions">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Save" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="Cancel" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="Insert" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="Delete" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="CopyDocumentCopyPaste" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="PasteDocumentCopyPaste" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="SaveTemplateCopyPaste" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="First" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="Previous" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="Next" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="Last" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="SaveLoc" type="tns:Action" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RB202000Customers">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerID" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ContactName" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Fax" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="CountryID" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Region" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="PostalCode" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceCommands" type="tns:RB202000CustomersServiceCommands" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RB202000CustomersServiceCommands">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="KeyCustomerID" type="tns:Key" />
          <s:element minOccurs="0" maxOccurs="1" name="EveryCustomerID" type="tns:EveryValue" />
          <s:element minOccurs="0" maxOccurs="1" name="DeleteRow" type="tns:DeleteRow" />
          <s:element minOccurs="0" maxOccurs="1" name="DialogAnswer" type="tns:Answer" />
          <s:element minOccurs="0" maxOccurs="1" name="Attachment" type="tns:Attachment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RB202000PrimaryKey">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CustomerID" type="tns:Value" />
        </s:sequence>
      </s:complexType>
      <s:element name="RB202000Clear">
        <s:complexType />
      </s:element>
      <s:element name="RB202000ClearResponse">
        <s:complexType />
      </s:element>
      <s:element name="RB202000GetProcessStatus">
        <s:complexType />
      </s:element>
      <s:element name="RB202000GetProcessStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProcessStatusResult" type="tns:ProcessResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RB202000GetSchema">
        <s:complexType />
      </s:element>
      <s:element name="RB202000GetSchemaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSchemaResult" type="tns:RB202000Content" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RB202000SetSchema">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="schema" type="tns:RB202000Content" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RB202000SetSchemaResponse">
        <s:complexType />
      </s:element>
      <s:element name="RB202000Export">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="commands" type="tns:ArrayOfCommand" />
            <s:element minOccurs="0" maxOccurs="1" name="filters" type="tns:ArrayOfFilter" />
            <s:element minOccurs="1" maxOccurs="1" name="topCount" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="includeHeaders" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="breakOnError" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RB202000ExportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExportResult" type="tns:ArrayOfArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RB202000Import">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="commands" type="tns:ArrayOfCommand" />
            <s:element minOccurs="0" maxOccurs="1" name="filters" type="tns:ArrayOfFilter" />
            <s:element minOccurs="0" maxOccurs="1" name="data" type="tns:ArrayOfArrayOfString" />
            <s:element minOccurs="1" maxOccurs="1" name="includedHeaders" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="breakOnError" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="breakOnIncorrectTarget" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RB202000ImportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ImportResult" type="tns:RB202000ArrayOfImportResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RB202000ImportResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Processed" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Error" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Keys" type="tns:RB202000PrimaryKey" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RB202000ArrayOfImportResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ImportResult" nillable="true" type="tns:RB202000ImportResult" />
        </s:sequence>
      </s:complexType>
      <s:element name="RB202000Submit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="commands" type="tns:ArrayOfCommand" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RB202000ArrayOfContent">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Content" nillable="true" type="tns:RB202000Content" />
        </s:sequence>
      </s:complexType>
      <s:element name="RB202000SubmitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SubmitResult" type="tns:RB202000ArrayOfContent" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RB204000Content">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Actions" type="tns:RB204000Actions" />
          <s:element minOccurs="0" maxOccurs="1" name="Suppliers" type="tns:RB204000Suppliers" />
          <s:element minOccurs="0" maxOccurs="1" name="SupplierDetails" type="tns:RB204000SupplierDetails" />
          <s:element minOccurs="0" maxOccurs="1" name="Products" type="tns:RB204000Products" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RB204000Actions">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Save" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="Cancel" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="Insert" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="Delete" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="CopyDocumentCopyPaste" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="PasteDocumentCopyPaste" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="SaveTemplateCopyPaste" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="First" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="Previous" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="Next" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="Last" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="SaveLoc" type="tns:Action" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RB204000Suppliers">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SupplierID" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceCommands" type="tns:RB204000SuppliersServiceCommands" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RB204000SuppliersServiceCommands">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="KeySupplierID" type="tns:Key" />
          <s:element minOccurs="0" maxOccurs="1" name="EverySupplierID" type="tns:EveryValue" />
          <s:element minOccurs="0" maxOccurs="1" name="DeleteRow" type="tns:DeleteRow" />
          <s:element minOccurs="0" maxOccurs="1" name="DialogAnswer" type="tns:Answer" />
          <s:element minOccurs="0" maxOccurs="1" name="Attachment" type="tns:Attachment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RB204000SupplierDetails">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ContactName" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Fax" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="CountryID" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Region" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="PostalCode" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceCommands" type="tns:RB204000SupplierDetailsServiceCommands" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RB204000SupplierDetailsServiceCommands">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DeleteRow" type="tns:DeleteRow" />
          <s:element minOccurs="0" maxOccurs="1" name="DialogAnswer" type="tns:Answer" />
          <s:element minOccurs="0" maxOccurs="1" name="Attachment" type="tns:Attachment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RB204000Products">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductID" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="SupplierUnit" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ConversionFactor" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="SupplierPrice" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Active" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="StockUnit" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="UnitPrice" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="LastSupplierPrice" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="LastPurchaseDate" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="MinOrderQty" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceCommands" type="tns:RB204000ProductsServiceCommands" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RB204000ProductsServiceCommands">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="KeyProductID" type="tns:Key" />
          <s:element minOccurs="0" maxOccurs="1" name="NewRow" type="tns:NewRow" />
          <s:element minOccurs="0" maxOccurs="1" name="RowNumber" type="tns:RowNumber" />
          <s:element minOccurs="0" maxOccurs="1" name="DeleteRow" type="tns:DeleteRow" />
          <s:element minOccurs="0" maxOccurs="1" name="DialogAnswer" type="tns:Answer" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RB204000PrimaryKey">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SupplierID" type="tns:Value" />
        </s:sequence>
      </s:complexType>
      <s:element name="RB204000Clear">
        <s:complexType />
      </s:element>
      <s:element name="RB204000ClearResponse">
        <s:complexType />
      </s:element>
      <s:element name="RB204000GetProcessStatus">
        <s:complexType />
      </s:element>
      <s:element name="RB204000GetProcessStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProcessStatusResult" type="tns:ProcessResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RB204000GetSchema">
        <s:complexType />
      </s:element>
      <s:element name="RB204000GetSchemaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSchemaResult" type="tns:RB204000Content" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RB204000SetSchema">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="schema" type="tns:RB204000Content" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RB204000SetSchemaResponse">
        <s:complexType />
      </s:element>
      <s:element name="RB204000Export">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="commands" type="tns:ArrayOfCommand" />
            <s:element minOccurs="0" maxOccurs="1" name="filters" type="tns:ArrayOfFilter" />
            <s:element minOccurs="1" maxOccurs="1" name="topCount" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="includeHeaders" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="breakOnError" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RB204000ExportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExportResult" type="tns:ArrayOfArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RB204000Import">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="commands" type="tns:ArrayOfCommand" />
            <s:element minOccurs="0" maxOccurs="1" name="filters" type="tns:ArrayOfFilter" />
            <s:element minOccurs="0" maxOccurs="1" name="data" type="tns:ArrayOfArrayOfString" />
            <s:element minOccurs="1" maxOccurs="1" name="includedHeaders" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="breakOnError" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="breakOnIncorrectTarget" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RB204000ImportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ImportResult" type="tns:RB204000ArrayOfImportResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RB204000ImportResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Processed" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Error" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Keys" type="tns:RB204000PrimaryKey" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RB204000ArrayOfImportResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ImportResult" nillable="true" type="tns:RB204000ImportResult" />
        </s:sequence>
      </s:complexType>
      <s:element name="RB204000Submit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="commands" type="tns:ArrayOfCommand" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RB204000ArrayOfContent">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Content" nillable="true" type="tns:RB204000Content" />
        </s:sequence>
      </s:complexType>
      <s:element name="RB204000SubmitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SubmitResult" type="tns:RB204000ArrayOfContent" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetScenarioSoapIn">
    <wsdl:part name="parameters" element="tns:GetScenario" />
  </wsdl:message>
  <wsdl:message name="GetScenarioSoapOut">
    <wsdl:part name="parameters" element="tns:GetScenarioResponse" />
  </wsdl:message>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="LogoutSoapIn">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="LogoutSoapOut">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="SetBusinessDateSoapIn">
    <wsdl:part name="parameters" element="tns:SetBusinessDate" />
  </wsdl:message>
  <wsdl:message name="SetBusinessDateSoapOut">
    <wsdl:part name="parameters" element="tns:SetBusinessDateResponse" />
  </wsdl:message>
  <wsdl:message name="SetLocaleNameSoapIn">
    <wsdl:part name="parameters" element="tns:SetLocaleName" />
  </wsdl:message>
  <wsdl:message name="SetLocaleNameSoapOut">
    <wsdl:part name="parameters" element="tns:SetLocaleNameResponse" />
  </wsdl:message>
  <wsdl:message name="SetSchemaModeSoapIn">
    <wsdl:part name="parameters" element="tns:SetSchemaMode" />
  </wsdl:message>
  <wsdl:message name="SetSchemaModeSoapOut">
    <wsdl:part name="parameters" element="tns:SetSchemaModeResponse" />
  </wsdl:message>
  <wsdl:message name="RB202000ClearSoapIn">
    <wsdl:part name="parameters" element="tns:RB202000Clear" />
  </wsdl:message>
  <wsdl:message name="RB202000ClearSoapOut">
    <wsdl:part name="parameters" element="tns:RB202000ClearResponse" />
  </wsdl:message>
  <wsdl:message name="RB202000GetProcessStatusSoapIn">
    <wsdl:part name="parameters" element="tns:RB202000GetProcessStatus" />
  </wsdl:message>
  <wsdl:message name="RB202000GetProcessStatusSoapOut">
    <wsdl:part name="parameters" element="tns:RB202000GetProcessStatusResponse" />
  </wsdl:message>
  <wsdl:message name="RB202000GetSchemaSoapIn">
    <wsdl:part name="parameters" element="tns:RB202000GetSchema" />
  </wsdl:message>
  <wsdl:message name="RB202000GetSchemaSoapOut">
    <wsdl:part name="parameters" element="tns:RB202000GetSchemaResponse" />
  </wsdl:message>
  <wsdl:message name="RB202000SetSchemaSoapIn">
    <wsdl:part name="parameters" element="tns:RB202000SetSchema" />
  </wsdl:message>
  <wsdl:message name="RB202000SetSchemaSoapOut">
    <wsdl:part name="parameters" element="tns:RB202000SetSchemaResponse" />
  </wsdl:message>
  <wsdl:message name="RB202000ExportSoapIn">
    <wsdl:part name="parameters" element="tns:RB202000Export" />
  </wsdl:message>
  <wsdl:message name="RB202000ExportSoapOut">
    <wsdl:part name="parameters" element="tns:RB202000ExportResponse" />
  </wsdl:message>
  <wsdl:message name="RB202000ImportSoapIn">
    <wsdl:part name="parameters" element="tns:RB202000Import" />
  </wsdl:message>
  <wsdl:message name="RB202000ImportSoapOut">
    <wsdl:part name="parameters" element="tns:RB202000ImportResponse" />
  </wsdl:message>
  <wsdl:message name="RB202000SubmitSoapIn">
    <wsdl:part name="parameters" element="tns:RB202000Submit" />
  </wsdl:message>
  <wsdl:message name="RB202000SubmitSoapOut">
    <wsdl:part name="parameters" element="tns:RB202000SubmitResponse" />
  </wsdl:message>
  <wsdl:message name="RB204000ClearSoapIn">
    <wsdl:part name="parameters" element="tns:RB204000Clear" />
  </wsdl:message>
  <wsdl:message name="RB204000ClearSoapOut">
    <wsdl:part name="parameters" element="tns:RB204000ClearResponse" />
  </wsdl:message>
  <wsdl:message name="RB204000GetProcessStatusSoapIn">
    <wsdl:part name="parameters" element="tns:RB204000GetProcessStatus" />
  </wsdl:message>
  <wsdl:message name="RB204000GetProcessStatusSoapOut">
    <wsdl:part name="parameters" element="tns:RB204000GetProcessStatusResponse" />
  </wsdl:message>
  <wsdl:message name="RB204000GetSchemaSoapIn">
    <wsdl:part name="parameters" element="tns:RB204000GetSchema" />
  </wsdl:message>
  <wsdl:message name="RB204000GetSchemaSoapOut">
    <wsdl:part name="parameters" element="tns:RB204000GetSchemaResponse" />
  </wsdl:message>
  <wsdl:message name="RB204000SetSchemaSoapIn">
    <wsdl:part name="parameters" element="tns:RB204000SetSchema" />
  </wsdl:message>
  <wsdl:message name="RB204000SetSchemaSoapOut">
    <wsdl:part name="parameters" element="tns:RB204000SetSchemaResponse" />
  </wsdl:message>
  <wsdl:message name="RB204000ExportSoapIn">
    <wsdl:part name="parameters" element="tns:RB204000Export" />
  </wsdl:message>
  <wsdl:message name="RB204000ExportSoapOut">
    <wsdl:part name="parameters" element="tns:RB204000ExportResponse" />
  </wsdl:message>
  <wsdl:message name="RB204000ImportSoapIn">
    <wsdl:part name="parameters" element="tns:RB204000Import" />
  </wsdl:message>
  <wsdl:message name="RB204000ImportSoapOut">
    <wsdl:part name="parameters" element="tns:RB204000ImportResponse" />
  </wsdl:message>
  <wsdl:message name="RB204000SubmitSoapIn">
    <wsdl:part name="parameters" element="tns:RB204000Submit" />
  </wsdl:message>
  <wsdl:message name="RB204000SubmitSoapOut">
    <wsdl:part name="parameters" element="tns:RB204000SubmitResponse" />
  </wsdl:message>
  <wsdl:portType name="ScreenSoap">
    <wsdl:operation name="GetScenario">
      <wsdl:input message="tns:GetScenarioSoapIn" />
      <wsdl:output message="tns:GetScenarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input message="tns:LogoutSoapIn" />
      <wsdl:output message="tns:LogoutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetBusinessDate">
      <wsdl:input message="tns:SetBusinessDateSoapIn" />
      <wsdl:output message="tns:SetBusinessDateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetLocaleName">
      <wsdl:input message="tns:SetLocaleNameSoapIn" />
      <wsdl:output message="tns:SetLocaleNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetSchemaMode">
      <wsdl:input message="tns:SetSchemaModeSoapIn" />
      <wsdl:output message="tns:SetSchemaModeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RB202000Clear">
      <wsdl:input message="tns:RB202000ClearSoapIn" />
      <wsdl:output message="tns:RB202000ClearSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RB202000GetProcessStatus">
      <wsdl:input message="tns:RB202000GetProcessStatusSoapIn" />
      <wsdl:output message="tns:RB202000GetProcessStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RB202000GetSchema">
      <wsdl:input message="tns:RB202000GetSchemaSoapIn" />
      <wsdl:output message="tns:RB202000GetSchemaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RB202000SetSchema">
      <wsdl:input message="tns:RB202000SetSchemaSoapIn" />
      <wsdl:output message="tns:RB202000SetSchemaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RB202000Import">
      <wsdl:input message="tns:RB202000ImportSoapIn" />
      <wsdl:output message="tns:RB202000ImportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RB202000Export">
      <wsdl:input message="tns:RB202000ExportSoapIn" />
      <wsdl:output message="tns:RB202000ExportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RB202000Submit">
      <wsdl:input message="tns:RB202000SubmitSoapIn" />
      <wsdl:output message="tns:RB202000SubmitSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RB204000Clear">
      <wsdl:input message="tns:RB204000ClearSoapIn" />
      <wsdl:output message="tns:RB204000ClearSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RB204000GetProcessStatus">
      <wsdl:input message="tns:RB204000GetProcessStatusSoapIn" />
      <wsdl:output message="tns:RB204000GetProcessStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RB204000GetSchema">
      <wsdl:input message="tns:RB204000GetSchemaSoapIn" />
      <wsdl:output message="tns:RB204000GetSchemaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RB204000SetSchema">
      <wsdl:input message="tns:RB204000SetSchemaSoapIn" />
      <wsdl:output message="tns:RB204000SetSchemaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RB204000Import">
      <wsdl:input message="tns:RB204000ImportSoapIn" />
      <wsdl:output message="tns:RB204000ImportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RB204000Export">
      <wsdl:input message="tns:RB204000ExportSoapIn" />
      <wsdl:output message="tns:RB204000ExportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RB204000Submit">
      <wsdl:input message="tns:RB204000SubmitSoapIn" />
      <wsdl:output message="tns:RB204000SubmitSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ScreenSoap" type="tns:ScreenSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetScenario">
      <soap:operation soapAction="http://www.acumatica.com/generic/GetScenario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://www.acumatica.com/generic/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap:operation soapAction="http://www.acumatica.com/generic/Logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetBusinessDate">
      <soap:operation soapAction="http://www.acumatica.com/generic/SetBusinessDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetLocaleName">
      <soap:operation soapAction="http://www.acumatica.com/generic/SetLocaleName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchemaMode">
      <soap:operation soapAction="http://www.acumatica.com/generic/SetSchemaMode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RB202000Clear">
      <soap:operation soapAction="http://www.acumatica.com/generic/RB202000/Clear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RB202000GetProcessStatus">
      <soap:operation soapAction="http://www.acumatica.com/generic/RB202000/GetProcessStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RB202000GetSchema">
      <soap:operation soapAction="http://www.acumatica.com/generic/RB202000/GetSchema" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RB202000SetSchema">
      <soap:operation soapAction="http://www.acumatica.com/generic/RB202000/SetSchema" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RB202000Export">
      <soap:operation soapAction="http://www.acumatica.com/generic/RB202000/Export" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RB202000Import">
      <soap:operation soapAction="http://www.acumatica.com/generic/RB202000/Import" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RB202000Submit">
      <soap:operation soapAction="http://www.acumatica.com/generic/RB202000/Submit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RB204000Clear">
      <soap:operation soapAction="http://www.acumatica.com/generic/RB204000/Clear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RB204000GetProcessStatus">
      <soap:operation soapAction="http://www.acumatica.com/generic/RB204000/GetProcessStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RB204000GetSchema">
      <soap:operation soapAction="http://www.acumatica.com/generic/RB204000/GetSchema" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RB204000SetSchema">
      <soap:operation soapAction="http://www.acumatica.com/generic/RB204000/SetSchema" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RB204000Export">
      <soap:operation soapAction="http://www.acumatica.com/generic/RB204000/Export" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RB204000Import">
      <soap:operation soapAction="http://www.acumatica.com/generic/RB204000/Import" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RB204000Submit">
      <soap:operation soapAction="http://www.acumatica.com/generic/RB204000/Submit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ScreenSoap12" type="tns:ScreenSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetScenario">
      <soap12:operation soapAction="http://www.acumatica.com/generic/GetScenario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://www.acumatica.com/generic/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap12:operation soapAction="http://www.acumatica.com/generic/Logout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetBusinessDate">
      <soap12:operation soapAction="http://www.acumatica.com/generic/SetBusinessDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetLocaleName">
      <soap12:operation soapAction="http://www.acumatica.com/generic/SetLocaleName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchemaMode">
      <soap12:operation soapAction="http://www.acumatica.com/generic/SetSchemaMode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RB202000Clear">
      <soap12:operation soapAction="http://www.acumatica.com/generic/RB202000/Clear" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RB202000GetProcessStatus">
      <soap12:operation soapAction="http://www.acumatica.com/generic/RB202000/GetProcessStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RB202000GetSchema">
      <soap12:operation soapAction="http://www.acumatica.com/generic/RB202000/GetSchema" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RB202000SetSchema">
      <soap12:operation soapAction="http://www.acumatica.com/generic/RB202000/SetSchema" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RB202000Export">
      <soap12:operation soapAction="http://www.acumatica.com/generic/RB202000/Export" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RB202000Import">
      <soap12:operation soapAction="http://www.acumatica.com/generic/RB202000/Import" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RB202000Submit">
      <soap12:operation soapAction="http://www.acumatica.com/generic/RB202000/Submit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RB204000Clear">
      <soap12:operation soapAction="http://www.acumatica.com/generic/RB204000/Clear" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RB204000GetProcessStatus">
      <soap12:operation soapAction="http://www.acumatica.com/generic/RB204000/GetProcessStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RB204000GetSchema">
      <soap12:operation soapAction="http://www.acumatica.com/generic/RB204000/GetSchema" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RB204000SetSchema">
      <soap12:operation soapAction="http://www.acumatica.com/generic/RB204000/SetSchema" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RB204000Export">
      <soap12:operation soapAction="http://www.acumatica.com/generic/RB204000/Export" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RB204000Import">
      <soap12:operation soapAction="http://www.acumatica.com/generic/RB204000/Import" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RB204000Submit">
      <soap12:operation soapAction="http://www.acumatica.com/generic/RB204000/Submit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Screen">
    <wsdl:port name="ScreenSoap" binding="tns:ScreenSoap">
      <soap:address location="http://localhost/AcumaticaFramework/Soap/TESTAPI.asmx" />
    </wsdl:port>
    <wsdl:port name="ScreenSoap12" binding="tns:ScreenSoap12">
      <soap12:address location="http://localhost/AcumaticaFramework/Soap/TESTAPI.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>